.CreationPage{
    background-image: url('https://images4.alphacoders.com/758/75886.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    color: azure;
}

