

.card {
    
    color: blanchedalmond;
    background-color: rgba(99, 167, 200, 0.5); /* Fondo celeste semi-transparente */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px;
    width: 300px;
    height: 400px;
    margin: 20px;
    display:inline-block; /* Establece que las tarjetas se muestren en línea */
    margin-right: 20px; /* Establece un margen derecho para separar las tarjetas */
    
}

