
.paginado{
    display: flex;
    justify-content: center;
    }
  
.pagination.box {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: initial;
    margin: 2rem;
  }
  .number{
    padding: 4px;
    margin: 15px;
    margin-right: 15px;
    border-radius: 50%;
    border-style: none;
    background-color: rgb(58, 113, 214);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
  }